<!doctype html>
<html>

<head>
    
    <meta charset="utf-8">
    <title>Stack Multipurpose HTML Template22</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="./css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<style>
    /* 이렇게 쓰는거 맞음? */
.input{
    height: 300px;
}
</style>
<body>
    
        <nav class="bar bar-toggle " data-fixed-at="200">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <div class="bar__module">
                                <a href="index.html">
                                    <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                    <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-9">
                            <div class="bar__module">
                                <a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu">
                                    <i class="stack-interface stack-menu"></i>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <!--end columns-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu" data-animation="from-right">
                <div class="side-menu__module pos-vertical-center text-right">
                    <ul class="menu-vertical">
                        <li>
                            <a class="inner-link" href="/home">Home</a>
                        </li>
                        <li>
                            <a class="inner-link" href="/about">About</a>
                        </li>
                        <li>
                            <a class="inner-link" href="/news">news</a>
                        </li>
                        <li>
                            <a class="inner-link" href="/list">list</a>
                        </li>
                        <li>
                            <a class="inner-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--end module-->
                <div class="side-menu__module pos-bottom pos-absolute col-xs-12 text-right">
                    <ul class="social-list list-inline text-right list--hover">
                        <li>
                            <a href="#">
                                <i class="socicon socicon-google icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon socicon-twitter icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon socicon-facebook icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon socicon-instagram icon icon--xs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <section class="height-50 imagebg text-center" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="background" src="img/landing-13.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><section class="text-center space--md">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="typed-headline">
                                                    <span class="h2 inline-block">지윤이가</span>
                                                    <span class="h2 inline-block typed-text typed-text--cursor color--primary"
                                                        data-typed-strings="왕이다,공주다,총장이다,대장이다,오야붕이다,프락치다">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                    </div>
                                    <!--end of container-->
                                </section></h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

    <form method="post" action="/writing">
        <!-- <form method="post" action="/writing"> -->
        <!-- 이게 무슨 post누르면 form테그안에 내용을 어디 담아서 다 보내는 거랬는데..
        포스트 요청 동작 순서가 궁금하다. -->
        <div>
            <select name="category">
                <option value="코딩게시판">코딩게시판</option>
                <option value="자유게시판">자유게시판</option>
                <option value="고양이게시판">고양이게시판</option>
                <option value="전체게시판" selected="selected">전체게시판</option>
              </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">제목</label>
            <!--뭐간 분류하는 테그같은데 for=~는 뭘까-->
            <input name="title" type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            <!-- name은 지정해서 어디쓰지? type은 꼭 지정해 줘야하나? -->
        </div>
        <div class="form-group input">
            <label for="formGroupExampleInput2">내용</label>
            <textarea  name="content" type="text" rows="10" class="form-control" id="contents" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div style="text-align: right">
            <button type="submit" class="btn btn--primary type--uppercase" style="width:10% ;margin-right: 5%;margin-top: 2%">완료</button>
            <!-- type이 제출?? -->
        </div>
        
    </form>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/flickity.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/granim.min.js"></script>
    <script src="/js/jquery.steps.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>